@font-face {
  font-family: HankenGrotesk;
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  list-style-type: none;
  outline: none;
  border: none;
}

.flex-center-column-left {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}

.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: center;
  align-items: left;
}

body {
  font-family: HankenGrotesk;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ecf2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1.2rem;
  background: white;

  border-radius: 20px;
  /* overflow: hidden; */

  -webkit-box-shadow: 0px 10px 28px -7px hsla(224, 82%, 58%, 0.15);
  -moz-box-shadow: 0px 10px 28px -7px hsla(224, 82%, 58%, 0.15);
  box-shadow: 0px 10px 28px -7px hsla(224, 82%, 58%, 0.15);
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  box-sizing: border-box;

  color: white;
  width: 368px;
  height: 512px;
  border-radius: 20px;
  text-align: center;
  background: rgb(97, 63, 243);
  background: linear-gradient(180deg, #7755ff 0%, #2f2ce9 100%);
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 428px;
}

h3 {
  margin: 0;
  font-size: 24px;
  /* margin-top: 38px;
  margin-bottom: 35px; */
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

.percent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: rgb(76, 34, 203);
  background: linear-gradient(180deg, #4d21c9 0%, #2421c900 100%);
}

.percent-span {
  color: rgb(255, 255, 255);
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
}

.percent p {
  margin: 0;
  font-size: 18px;
}

.info h4 {
  margin: 0;
  font-size: 32px;
}

.info p {
  font-size: 18px;
  width: 260px;
  color: rgba(255, 255, 255, 0.7);
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  width: 368px;
  height: 512px;
  box-sizing: border-box;
  padding: 38px 40px 46px;
}

.right h2 {
  color: #303b59;
  font-size: 24px;
  margin: 0;
}

.right .detail ul {
  width: 288px;
  font-weight: 700;
  padding: 0;
}

.right .detail ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 56px;
  padding: 0 16px;
  border-radius: 12px;
  background-color: #f3f3fd;

  margin: 16px 0;
}

.right .detail ul li:nth-child(1) {
  margin: 0px;
}

.right .detail ul li:nth-last-child(1) {
  margin: 0px;
}

.right .detail ul li p {
  margin-left: 8px;
  font-size: 18px;
}

.right .detail ul li .detail-title {
  display: flex;
}

.right .detail ul li .detail-title img {
  width: 20px;
}

.right button {
  width: 100%;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
  padding: 17px;
  border-radius: 30px;
  color: white;
  background: #303b59;
  cursor: pointer;
}

.right button:hover {
  background: linear-gradient(180deg, #7755ff 0%, #2f2ce9 100%);
}

.right .detail ul li .detail-note {
  color: #303b59;
  font-weight: 800;
}

.right .detail ul li .detail-note span {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .container {
    width: 375px;
    height: 809px;
    display: flex;
    border-radius: 0 0 32px 32px;
    align-items: center;
    flex-direction: column;
  }

  .left {
    width: 375px;
    height: 356px;
    box-sizing: border-box;
    border-radius: 0 0 32px 32px;
  }

  .left-container {
    width: 260px;
    height: 292px;
  }

  .left h3 {
    font-size: 18px;

    margin-top: 16px;
    margin-bottom: 16px;
  }

  .percent {
    width: 140px;
    height: 140px;
  }
  .percent span {
    font-size: 56px;
  }
  .percent p {
    font-size: 16px;
    opacity: 0.5168%;
  }

  .info h4 {
    font-size: 24px;
  }

  .info p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .right {
    width: 335px;
    height: 399px;
    padding: 0rem 0.5rem 30px;
    box-sizing: border-box;
  }

  .right ul {
    margin: 0;
  }

  .right .detail {
    height: 272px;
  }

  .right h2 {
    font-size: 18px;
    line-height: 18px;
    margin: 24px 0;
  }

  .right .detail ul {
    width: 315px;
  }

  .info p {
    margin: 0rem 0.5rem;
  }

  .right button {
    margin-top: 24px;
  }
}
